# Maven
target/
*.jar
*.war
*.ear

# Logs
*.log

# IDEs
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Docker
*.env
docker-compose.override.yml

# Archivos comprimidos
*.zip

# Otros
*.class
*.swp
